services:
  redis:
    image: redis:7.0.9
    ports:
      - 127.0.0.1:6379:6379
  tasktiger:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      REDIS_HOST: redis
    volumes:
      - .:/src
    depends_on:
      - redis
